#nav{
    background: #0079c1 url(//cdn.shopify.com/s/files/1/0042/9942/t/11/assets/bg_nav.png?515) top right no-repeat;
    height: 60px;
}
.content{
    width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}
#nav .logo{
    float: left;
    display: inline;
}
.logo{
    width: 70px;
    height: 60px;
    
}
#header{
    display: block;
    min-width: 1250px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#nav .nav {
    float: left;
    display: inline;
    height: 60px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
#nav ul{
    list-style: none;
    list-style-position: outside;  
}    
*{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
#header .nav li {
    float: left;
    display: inline;
    margin: 15px 70px 0 0;
    font-size: 25px;
    color: white;
}
.utilityNav {
    float: right;
    display: inline;
    width: 180px;
    margin-top: 15px;
}
.utilityNav li {
    float: left;
    display: inline;
    background-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0 0px 0 0;
}
li{
    text-align: -webkit-match-parent;
}
#hero{
    position: relative;
}
.hero{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.hero img{
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}    
#product{
    margin: 40px 0 100px;
}
#product h2{                        background:url(//cdn.shopify.com/s/files/1/0042/9942/t/11/assets/bg_title_stripes_orange.png?515) center center no-repeat;  
    color: #e15829;
    text-align: center;
}
.product{
    list-style: none;
    list-style-position: outside;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.product li{
    float: left;
    display: inline;
    width: 270px;
    margin: 0 30px 35px 0;
}
.product h3{
    color: #000000;
    letter-spacing: -0.5px;
    padding: 0 0 15px 0;
    margin-bottom: 8px;
    text-align: center;
}
.product img{
    margin-bottom: 7px;
}
img{
    display: block;
}
.product .price{
    font-size: 18px;
    line-height: 24px;
    color: gray;
    text-align: center;
    margin-top: -20px;
}
#footer{
    background-color: #001625;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}
.content .logo{
    margin: auto;
    margin-top: -24px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-left: 20px; 
}
h4{
    color: #e15829;
    font-size: 45px;
}