.hello-text{
    font-family: 'Spicy Rice', cursive;
    position: relative;
    font-size: 50px;
    color: blue;
    animation-name: move-text;
    animation-duration: 1s;
}
.name-text{
    font-family: 'Spicy Rice', cursive;
    height: 50vh;
    position: relative;
    font-size: 50px;
    color: blue;
    animation-name: move-text;
    animation-duration: 2s;
}

@keyframes move-text{
    0%{
        transform: translate(1000%,0)
    }
    100%{
        transform: translate(0%,0)
    }
}
.content-wrapper{
    max-width: 900px;
    margin: auto;
    
}
.content-container{
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
.content-title{
    font-family: 'Spicy Rice', cursive;
    font-size: 50px;
    color: white;
}
img{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-card{
    float: left;
    width: 300px;
    background: #54585b;
    text-align: center;
    font-size: 25px;
    color: white;
}
.content-card:hover{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    
    -ms-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;        
}
HTML{
    scroll-behavior: smooth;
}
GIMP{
    scroll-behavior: smooth;
}
.img{
    width: 50px;
    height: 50px;
}
nav{
    background: 0;
    position: relative;
}